*{
    font-family: Arial, Helvetica, sans-serif;
}
.horizontal-line {
    height: 1px; 
    background-color: black; 
    width: 90%; 
    margin: 40px auto; 
}
.main-foot{
    margin-top: 400px;
    
}
.footer-container{
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #ecf0f1e8; 
    font-size: 16px;
    color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(122, 100, 100, 0.1);
    margin: auto;
    gap: 50px;
}
.footer-contact{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.mahir img{
    height: 250px;
    width: 250px;
    padding-bottom: 20px;
}
.mahir:hover{
    border-right: 1px solid red ;
    background: linear-gradient(45deg, white, gray); 
    border-radius: 20px;  
}
.mahir{
    padding-bottom: 0px;
    height: inherit;
}
.marti img{
    height: 250px;
    width: 250px;
    padding-bottom: 20px;
}
.marti:hover{
    border-right: 1px solid red ;
    background: linear-gradient(45deg, white, gray); 
    border-radius: 20px; 
}
.family img{
    height: 250px;
    width: 350px;
    padding-bottom: 20px;
}
.family:hover{
    border-right: 1px solid red ;
    background: linear-gradient(45deg, white, gray); 
    border-radius: 20px; 
}
.FaLinkedin{
    color: red;
    height: 40px;
    width: 30px;
    padding-left: 10px;
}
.adress-footer{
    border-right: 1px solid black ;
    padding-right: 10px;
    cursor: pointer;
    margin-left: 0%;
}
.adress-footer:hover{
    border-right: 1px solid red ;
    background: linear-gradient(45deg, white, gray); 
    border-radius: 20px; 
}
.lastp{
    text-align: center;
    margin-left: 15%;
}