*{
    font-family: Arial, Helvetica, sans-serif;
}
#publication{
    margin-top: 400px;
}
.horizontal-line {
    height: 1px; 
    background-color: black; 
    width: 90%; 
    margin: 40px auto; 
}
.years-of-exp{
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 0, 0, 0.651);;
}
.my-experiances{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    margin-bottom: 30px;
}
.subheaders{
    display: flex;
    justify-content: start;
    margin-left: 5%;
    width: 90%;
    margin-top: 30px;
}

.orginal-article{
    width: 90%;
    margin: auto;
}
.subheaders ul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
 .subheaders ul li{
    list-style: none;
    margin: auto;
    
}
.subheaders ul li button{
    border-radius: 8px;
    background-color: #ecf0f1e8; 
    margin-top: 20px auto;
    font-size: 20px;
    color: black;
    width: 260px;
    outline: none;
    border: none;
    height: 110px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(122, 100, 100, 0.1);
    padding: 40px;
    margin-left: 7%;
}
.subheaders ul li button:hover{
    box-shadow: 0 0 10px rgba(122, 100, 100, 0.1);
    background: linear-gradient(45deg, gray, white);
}
.subheaders ul li button:focus{
    box-shadow: 0 0 10px rgba(122, 100, 100, 0.1);
    background: linear-gradient(45deg, gray, white);
    color: red;
}
.table2, .table3, .table4{
    border-radius: 8px;
    background-color: #ecf0f1e8; 
    font-size: 16px;
    color: black;
    width: 100%;
    outline: none;
    border: none;
    /* min-height: 300px;  */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(122, 100, 100, 0.1);
    position: absolute;
    left: 3%;
    top: 130px;
}
thead tr th{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    text-decoration: underline;
}
tbody tr td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px; 
}
.thead{
    margin-bottom: 0px;
}
tbody{
    margin-top: 10px;
}
.table1{
    border-radius: 8px;
    background-color: #ecf0f1e8; 
    font-size: 16px;
    color: black;
    width: 100%;
    outline: none;
    border: none;
    /* min-height: 300px;  */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(122, 100, 100, 0.1);
    position: absolute;
    left: 3%;
    top: 130px;
}
tbody tr td a{
    text-decoration: none;
    height: 40px;
    width: 60px;
    border-radius: 8px;
    background-color: #ecf0f1e8; 
    font-size: 20px;
    color: red;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(122, 100, 100, 0.1);
    cursor: pointer;
}
/* .............................. */
