body {
    margin: auto; 
    box-sizing: border-box;
}

nav {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin: auto;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1; 
}

.homeicone {
    height: 30px;
    margin-top: 5px;
    margin-left: 7px;
}

.lists ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.lists ul a {
    text-decoration: none;
    color: black;
    padding-left: 30px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.lockicon, .search {
    margin-left: 20px;
    padding-top: 12px;
}

.sub-store {
    background-color: rgb(219, 213, 213);
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 1;
    padding: 10px; 
    height: auto;
    width: 100%;
    padding-left: 20%;
}
.list-header-sub1, .list-header-sub2, .list-header-sub3{
    padding-left: 20px;
}
.sub-store ul{
    display: block;
}
.lists ul li:hover .sub-store,
.lists ul li:focus-within .sub-store{
    display: flex;
}

.sub-store ul {
    list-style: none;
    padding: 0; 
}

.sub-store ul li {
    padding-top: 10px;
}

.sub-store ul a {
    text-decoration: none;
    text-align: left;
}

.list-header-sub1 a {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.shopspacial, .shop, .Quicklinks {
    padding-bottom: 20px;
}
.search, .lock{
    height: 15px;
    width: 15px;
    margin-top: 7px;
    margin-left: 30px;
}

.fasolid{
    display: none;
  
}
.for-mobile-nav-list{
    display: none;
}
              /* media query */

@media (max-width:680px){
   .lists{
    display: none;
   }
   .fasolid{
      display: block;
      position: absolute;
      top: 10px;
      right: 20px;
      z-index: 1;
   }
   .homeicone img{
    position: absolute;
    left: 10px;
    top: 1px;
   }
   .search-lock img{
    height: 15px;
    width: 15px;
   }
   .search-lock .search{
         position: absolute;
         top: -9px;
         right: 150px;
   }
   .search-lock .lock{
    position: absolute;
    top: 3px;
    right: 100px;
}
.for-mobile-nav-list{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color:  rgb(219, 213, 213);
    width: 100%;
    height: auto;
}
.for-mobile-nav-list ul{
    list-style: none;
    font-size: 25px;

}
.for-mobile-nav-list a{
    text-decoration: none;
    display: block;
     padding: 10px;
}
.fasolid:focus + .for-mobile-nav-list{
    display: block;
}

}
