.body{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 500px;
    width: 340px;
    background-color: gray;
    color: white;
    border-radius: 20px;
    margin-left: 10%;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 80px (2, 20px) 80px;
    gap: 10px; 
    margin: 20px;

}
.buttons button{
    width: 50px;
    height: 40px;
    background-color: gray;
    border: none;
    outline: none;
    border-radius: 20px;
    box-sizing: content-box;
    box-shadow: 1px 1px 3px 3px white;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: black
}
input{
    height: 70px;
    width: 80%;
    margin: 20px 30px; 
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: end;
}
input text{
    text-align: end;
}