.container {
    width: 80%;
    height: 250px;
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: 1px 1px 5px 5px green;
    margin: auto;
  }
  
  .container h2 {
    text-align: center;
    padding-top: 20px;
  }
  
  .subcontainer {
    background-color: wheat;
    height: 50px;
    width: 60%;
    margin: auto;
    border-radius: 30px;
  }
  
  .percentmeto {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 500px;
  }
  
  .secondsub {
    background-color: green; 
    height: 50px;
    width: 0; 
    border-radius: 30px;
    transition: width 1s ease;
  }
  .newcover{
    background-color: wheat;
    height: 50px;
    width: 60%;
    margin: auto;
    border-radius: 30px;
  }
  .wellcome{
    text-align: center;
  }