*{
    font-family: 'Times New Roman', Times, serif;
}
.mycontactes-cont{
    width:95%;
    height:150px;
    margin:20px auto;
    text-align:center;
    
}
.tele-link{
    width:100%;
    height:70%;
    background-color:white;
    margin-left: 20%;
}
.linkidin1, .telegram1{
    height:50px;
    width:50px;
    color: rgb(0, 119, 255);
    padding-left:25px;
}