body{
    background-color: aquamarine;
}
.time-styling{
    background-color: blue;
    border: 10px, solid, greenyellow;
    outline: 2px, solid, red;
    height: 200px;
    width: 400px;
    margin-left: 25%;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    box-shadow: 10px -2px 5px 4px red;
}
.time{
    background-color: green;
    padding-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
}
.date{
    background-color: green;
    padding-right: 10px;
    margin-left: 70px;
}