body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
  margin-left: 10px;
  min-height: 500px;
  width: 100%;
  position: relative;
  margin-top: 30px;
}
.atag{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   margin-left: 5%;

}
.mainpart{
    margin-left: 20%;
}
.headers{
    margin-left: 10%;
}
.items{
    text-decoration: none;

}
.buy-order{
 height: 30px;
 width: 80px;
 background: linear-gradient(45deg, yellow, white);
 border-radius: 30px;
 margin-top: 20px;
 color: red;
 border: none;
 outline: none;
 padding-bottom: 5px;
 cursor: pointer;
 font-size: 17px;
 font-weight: bold;
 font-family: 'Times New Roman', Times, serif;
}
.buy-order:hover,
.buy-order:focus{
 transform: scale(1.25);
 transition: 0.25s ease-in-out;
}
.images{
    height: 300px;
    width: 350px;
}
.previous{
    border-radius: 20px;
    border: none;
    outline: none;
    margin-right: 110px;
    background: linear-gradient(43deg, red, green);
    height: 40px;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.next{
    border-radius: 20px;
    border: none;
    outline: none;
    background: linear-gradient(43deg, green, red);
    height: 40px;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.next:focus, .previous:focus{
    transform: scale(0.75);
}
.orderplace{
    position: absolute;
    top: 130px;
    right: 50px;
    width: 300px;
}
.delete{
    background-color: none;
    border: none;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
}
.mohammed, .marta{
    color: limegreen;
}